  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background: linear-gradient(to top, #a24d4c 0%, #ac7877 100%);
    color: #fff;
    padding: 100px 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;   
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #a24d4c;
    font-size: 50px;
  }
  .logo {
    color: #a24d4c;
    font-size: 200px;
    margin: 30px 40px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #a24d4c;
  }
  .carousel-indicators li {
    border-color: #a24d4c;
  }
  .carousel-indicators li.active {
    background-color: #a24d4c;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #a24d4c; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #a24d4c;
    background-color: #fff !important;
    color: #a24d4c;
  }
  .panel-heading {
    color: #fff !important;
    background: linear-gradient(to top, #8dc8b3 0%,#b3d5c9 100%);
    padding: 10px 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #a58861;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #8dc8b3;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #a58861 !important;
    font-weight: bold;
    background-color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a:hover {
    color: #8dc8b3 !important;
    font-weight: bolder;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  footer p {
    color: #fff;
  }
  #myfooter {
    background: linear-gradient(to top, #8dc8b3 100%, #b2ecd8 100%);
  }
  .btn-info {
    color: #fff;
    background-color: #a24d4c;
    border-color: #8dc8b3;
}
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  .smallimage {
    float: right;
  }
  h2.well {
    background: linear-gradient(to top, #8dc8b3 0%,#b3d5c9 100%);
    color:white;
  }
  h2.well:hover {
     color:yellowgreen;
  }
  .dropdown-menu {
    background-color: #a58861 ;
    }
    .dropdown-menu li.active a {
    color: #fff !important;
    background-color:#a58861  !important;
    }
    .dropdown-menu li a:hover {
    color: #fff !important;
    background-color: #a58861  !important;
    }

    img.myimg {
      float: right;
      border: 2px solid double;
      background-color: #a58861;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
      margin-left: 15px;
  }